<mat-drawer-container class="page-container" [hasBackdrop]="true">
    <mat-drawer class="drawer page-container" #drawer [mode]="'push'">I'm a drawer Can I be bigger</mat-drawer>
    <mat-drawer-content>
        <!--All Page components go Here-->
        <div class="navbar-icons">
                <div class="menu-button" (click)="drawer.toggle()">
                    <mat-icon class="menu-icon">menu</mat-icon>
                </div>
            <mat-icon class="palette-brush" [matMenuTriggerFor]="menu">brush</mat-icon>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="toggleTheme('light')">Light Theme</button>
                <button mat-menu-item (click)="toggleTheme('dark')">Dark Theme</button>
                <button mat-menu-item (click)="toggleTheme('space')">Space Theme</button>
                <button mat-menu-item (click)="toggleTheme('retro')">Retro Theme</button>
            </mat-menu>
        </div>
        <div class="page-content">
            <app-home></app-home>
        </div>   
    </mat-drawer-content>
</mat-drawer-container>