.page-container {
    height: 100%;
    background-color: var(--bkg-color);
}

.page-content {
    width: 80%;
    padding-left: 5%;
}

mat-drawer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

fa-icon {
    border: 10px solid var(--bkg-color);
}

.linkedin:hover, .github:hover, .indeed-icon:hover {
  color: var(--btn-bg-color);
  fill: var(--btn-bg-color);
}


a {
    text-decoration: none;
    color: inherit;
    font-family: 'Darker Grotesque', sans-serif;
}

.route-link {
    font-size: 2rem;
    border: 15px solid var(--bkg-color);
    padding: 0% 10%;
    text-align: center;
}

.route-link:hover {
    cursor: pointer;
    color: var(--btn-bg-color);
}

.navbar-icons {
    padding-top: 2%;
    padding-left: 2%;
    display: flex;
    justify-content: space-between;
    width: 96%;
}


/* Navbar Buttons */
.menu-button {
    background-color: var(--btn-bg-color);
    border-radius: 20%;
    border: 1px solid var(--btn-bg-color);
    text-align: center;
    color: var(--btn-txt-color);
    display: inline-block;
}

.menu-button:hover {
  cursor: pointer;
  background-color: var(--btn-txt-color);
  border: 1px solid var(--btn-txt-color);
  color: var(--btn-bg-color);
}

.menu-icon {
  padding-top: 2px;
}


.palette-brush {
    color: var(--text-color);
}

.palette-brush:hover {
    cursor: pointer;
}

.theme-menu {
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    font-family: 'Ubuntu', sans-serif;
}

::ng-deep .mat-menu-class {
    background: var(--btn-bg-color);
}

/* Drawer */
.drawer {
    background-color: var(--bkg-color);
    color: var(--text-color);
}


.external-icons {
  display: flex;
  justify-content: space-evenly;
}
.external-link {
  display: inline-block;
}
.indeed-icon {
  min-width: 22px;
  min-height: 22px;
  fill: var(--text-color);
}

::ng-deep .mat-drawer-inner-container > div {
  min-width: 200px;
}
