<mat-drawer-container class="page-container" [hasBackdrop]="true">
    <mat-drawer class="drawer page-container" #drawer [mode]="'push'">
        <a href="https://www.linkedin.com/in/caitlin-talerico/" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faLinkedin" class="fa-2xl"></fa-icon></a>
        <a href="https://github.com/cait-tal" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faGithub" class="fa-2xl"></fa-icon></a>
    </mat-drawer>
    <mat-drawer-content>
        <!--All Page components go Here-->
        <div class="navbar-icons">
                <div class="menu-button" (click)="drawer.toggle()">
                    <mat-icon class="menu-icon">menu</mat-icon>
                </div>
            <mat-icon class="palette-brush" [matMenuTriggerFor]="menu">brush</mat-icon>
            <mat-menu class="theme-menu mat-menu-class" #menu="matMenu">
                <button class="theme-menu" mat-menu-item (click)="toggleTheme('light')">Light Theme</button>
                <button class="theme-menu" mat-menu-item (click)="toggleTheme('dark')">Dark Theme</button>
                <button class="theme-menu" mat-menu-item (click)="toggleTheme('space')">Space Theme</button>
                <button class="theme-menu" mat-menu-item (click)="toggleTheme('retro')">Retro Theme</button>
            </mat-menu>
        </div>
        <div class="page-content">
            <app-home></app-home>
        </div>   
    </mat-drawer-content>
</mat-drawer-container>