.page-container {
    height: 100%;
    background-color: var(--bkg-color);
}

.page-content {
    width: 90%;
    padding-left: 5%;
}

mat-drawer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar-icons {
    padding-top: 2%;
    padding-left: 2%;
}


/* Navbar Buttons */
.menu-button {
    background-color: var(--btn-bg-color);
    border-radius: 20%;
    border: 1px solid var(--btn-bg-color);
    text-align: center;
    color: var(--btn-txt-color);
    display: inline-block;
}

.palette-brush {
    color: var(--text-color);
}

.palette-brush:hover {
    cursor: pointer;
}

.theme-menu {
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    font-family: 'Ubuntu', sans-serif;
}

::ng-deep .mat-menu-class {
    background: var(--btn-bg-color);
}

/* Drawer */
.drawer {
    background-color: var(--bkg-color);
    color: var(--text-color);
}